<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationTest" parallel="none">
  <test name="RegisterTest">
    <classes>
      <class name="automationpractice.testCases.RegisterTest" />
    </classes>
  </test> <!-- RegisterTest -->
</suite> <!-- AutomationTest -->
